body
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: rgb(255, 120, 143);
}

.header_div
{
    background: rgb(250, 137, 137);
    color: rgb(162, 63, 254);
}

